---
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1>Proyecto UNAL - CUENCO</h1>
    <p>Información y visualizaciones sobre los encuentros</p>
  </main>
</Plantilla>
