---
import Listas from '@/componentes/Listas.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1>Proyecto UNAL - CUENCO</h1>
    <Listas />
  </main>
</Plantilla>

<style lang="scss"></style>
