---
import ListasColectivos from '@/componentes/ListasColectivos.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1>Proyecto UNAL - CUENCO</h1>
    <p>Información sobre el proyecto</p>
  </main>
</Plantilla>
