---
import ListaNodos from '@/componentes/ListaNodos.astro';
import listas from '../../estaticos/datos/listas.json';
---

<div id="contenedorListas" class="todoVisible">
  <h2>Producción Académica</h2>
  <ListaNodos id="años" lista={listas.años} />
  <ListaNodos id="autores" lista={listas.autores} />
  <ListaNodos id="dependencias" lista={listas.dependencias} />
  <ListaNodos id="indicadores" lista={listas.indicadores} />
  <ListaNodos id="tipos" lista={listas.tipos} />
</div>
<script></script>
