:root {
  // Paleta
  --colorFuente: #252424;
  --blanco: #ffffff;

  // Colores Cuenco
  --verdeCuenco: #00bc96;
  --azulClaroCuenco: #0074be;
  --azulOscuroCuenco: #3949a4;
  --magentaCuenco: #c30a93;
}
