@import './normalizar';
@import './constantes';

@font-face {
  font-family: Ancizar;
  src: url('../../estaticos/fuentes/AncizarSans/AncizarSans-Regular_02042016.otf');
}

/* use */
body {
  font-family: Ancizar, Arial, Helvetica, sans-serif;
}

main {
  padding: 1em 5vw;
}

#menu {
  width: 80vw;
  display: flex;
  padding: 0.5em;

  .elementoMenu {
    display: flex;
    align-items: center;
    background-color: var(--verdeCuenco);
    padding: 0.5em 0.7em;
    color: black;
    border-radius: 5px;
    margin: 0 0.4em;

    &:hover {
      color: var(--blanco);
      background-color: var(--azulClaroCuenco);
    }
  }
}

// Página principal
#presentacion {
  width: 70vw;
  margin: 2em 0;
}

// Nodos listas
.contenedorElementos {
  height: fit-content;
  // opacity: 0;
  // overflow: hidden;
  transition: opacity 0.35s ease-in-out;

  &.abierto {
    height: 100%;
    opacity: 1;
  }

  li {
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }

  .titulo {
    cursor: pointer;
  }

  .nombre {
    margin: 0;
    font-size: 0.85em;
  }

  .barra {
    display: flex;
    align-items: center;

    .linea {
      height: 0.25rem;
      background-color: salmon;
    }

    .conteo {
      margin-left: 3px;
    }
  }
}

#contenedorListas {
  .lista {
    max-height: 50vh;
    overflow: auto;
  }
}
